.logo {
    width: 50px;
    height: 50px;
}

ul {
    list-style-type: none !important;
}

a {
    text-decoration: none !important;
}

.slider img {
    display: block;
    max-width: 2000px;
    max-height: 400px;
    width: auto;
    height: auto;
}

.foot-link a {
    color: #fff;
}

.main {
    min-height: 700px;
}

.row .title {
    text-align: center !important;
    margin-bottom: 80px;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 40px rgb(34, 34, 36), 0 0 13px rgb(32, 32, 34);
    font-size: 35px;
}

.header .row .bg-light {
    background-color: rgba(0, 0, 0, 0.76) !important;
}

.header ul li a,
.login a {
    color: #fff !important;
    border: 1px solid #fff;
    margin: 0 5px;
    border-radius: 3px;
    text-align: center;
    font-size: 18px;
}

.header img {
    border-radius: 3px;
}

.header ul li {
    text-align: center;
}

.login a {
    padding: 12px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}